@model OdeToFood.Models.Restaurant
<!DOCTYPE html>
<html>
<head>
  <title>@Model.Name</title>
</head>
<body>
  <table>
        <tr>
          <td>@Model.Name</td>
        </tr>
    <tr>
      <td>
        <a href="/">Homde</a>
      </td>
    </tr>
  </table>
</body>
</html>